* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #adeded;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #aded;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

button {
  background-color: rgb(107, 209, 243);
  border: none;
  width: 10rem;
  height: 2rem;
  transition: 0.2s;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: dodgerblue;
}

select {
  border-radius: 10px;
  width: 5rem;
  height: 2rem;
}

.question-box {
  margin: 3rem;
}

p,
label,
input {
  margin: 1rem;
}

h2 {
  padding: 2rem;
}

section {
  border: dodgerblue 3px solid;
  padding: 2rem;
  width: 50%;
}
